.main {
    padding: 20px 40px;
    width: calc(100% + 15px);
    min-height: 500px;

    p {
        text-align: justify;
        padding-bottom: 20px;
    }

    .map-responsive {
        margin: 0 auto;
        height: 300px;
        width: 100%;

        agm-map {
            width: 100%;
            height: 300px;
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        .map-responsive {
            height: 300px;
            width: 100%;

            agm-map {
                width: 100%;
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        .map-responsive {
            height: 300px;
            width: 100%;

            agm-map {
                width: 100%;
                height: 300px;
            }
        }
    }
}
