.container {
    max-width: 450px;
    margin: 20px auto;
    background-color: #eee;
    border-radius: 10px;

    .heading {
        padding: 20px;
        text-align: center;
        background-color: #ddd;
        border-radius: 10px 10px 0 0;
    }

    form {
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;

        input {
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: 2px solid #949aee;
        }

        p {
            margin-bottom: 10px;
            font-size: 14px;
        }

        textarea {
            width: 100%;
            border-radius: 5px;
            border: 2px solid #949aee;
            resize: vertical;
        }

        label {
            font-size: 18px;
            color: #6069eb;
            padding-top: 10px;
        }

        .invalid-feedback {
            color: rgb(248, 65, 52);
        }

        button {
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 5px;
            background-color: #4550e9;
            color: #fff;
            font-size: 20px;
            margin: 10px 0;
            cursor: pointer;

            &:disabled {
                background-color: #767783;
                cursor: not-allowed;
            }
        }
    }

    .hidden {
        padding: 20px;
        font-size: 14px;

        h2 {
            color: #258b25;
            text-align: center;
            padding: 10px;
        }

        .col-xs-3 {
            color: #000;
        }

        .col-xs-9 {
            color: #258b25;
        }

        .btn {
            width: 200px;
            height: 30px;
            border: none;
            background-color: #8289ee;
            border-radius: 5px;
            font-size: 16px;
            color: #fff;
        }
    }
}
