<div class="container">
  <div class="heading">
    <h1>Contact form</h1>
  </div>
  <form
    class="form"
    #forM="ngForm"
    (ngSubmit)="forM.form.valid && onSubmit()"
    novalidate
  >
    <div ngModelGroup="name">
      <div class="form-group">
        <label>Firstname</label>
        <input
          type="text"
          name="firstname"
          [(ngModel)]="model.firstname"
          required
          minlength="2"
        />
        <div
          *ngIf="forM.submitted && firstname.invalid"
          class="invalid-feedback"
        >
          <div *ngIf="firstname.errors.required">Firstname is required</div>
        </div>
      </div>

      <label>Lastname</label>
      <input type="text" name="lastname" [(ngModel)]="model.lastname" />
    </div>
    <div ngModelGroup="info">
      <label>E-mail</label>
      <input type="email" name="email" required [(ngModel)]="model.email" />
      <label>Your comments </label>
      <textarea
        name="comment"
        cols="40"
        rows="3"
        required
        [(ngModel)]="model.description"
      ></textarea>
    </div>
    <a routerLink="/contact-complete">
      <button type="submit">Submit</button>
    </a>
  </form>
  <!--<div class="hidden" [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First name:</div>
      <div class="col-xs-9">{{ firstname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Second name:</div>
      <div class="col-xs-9">{{ lastname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email:</div>
      <div class="col-xs-9">{{ email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Your comments:</div>
      <div class="col-xs-9">{{ description }}</div>
    </div>
    <br />
    <button class="btn btn-primary" (click)="submitted = false">Edit</button>
  </div>-->
</div>
