<div class="container">
  <div class="heading">
    <h1>Contact form</h1>
  </div>
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        [(ngModel)]="model.firstName"
        #firstName="ngModel"
        [ngClass]="{ 'is-invalid': firstName.pristine && firstName.invalid }"
        required
        minlength="2"
      />
      <div
        *ngIf="firstName.pristine && firstName.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="firstName.errors.required">First Name is required</div>
        <div *ngIf="firstName.errors.minlength">
          First Name length should be 2 characters at least
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        [(ngModel)]="model.lastName"
        #lastName="ngModel"
        [ngClass]="{ 'is-invalid': lastName.pristine && lastName.invalid }"
        required
        minlength="2"
      />
      <div
        *ngIf="lastName.pristine && lastName.invalid"
        class="invalid-feedback"
      >
        <div *ngIf="lastName.errors.required">Last Name is required</div>
        <div *ngIf="lastName.errors.minlength">
          Last Name length should be 2 characters at least
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="model.email"
        #email="ngModel"
        [ngClass]="{ 'is-invalid': email.pristine && email.invalid }"
        required
        email
      />
      <div *ngIf="email.pristine && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        [(ngModel)]="model.description"
        #description="ngModel"
        rows="4"
      >
      </textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">
        Submit
      </button>
    </div>
  </form>
</div>
