<div class="wrapper">
  <header class="header">
    <img src="./assets/img/header-image.jpg" alt="" />
  </header>
  <aside class="aside aside-1">
    <div class="nav home">
      <a routerLink="">
        <img src="https://img.icons8.com/ios/50/000000/home-page.png"
      /></a>
      <p>Home page</p>
    </div>
    <div class="nav about-us">
      <a routerLink="/about">
        <img src="https://img.icons8.com/ios/50/000000/info.png"
      /></a>
      <p>About us</p>
    </div>
    <div class="nav contact">
      <a routerLink="/contact">
        <img src="https://img.icons8.com/ios/50/000000/phone-message.png"
      /></a>
      <p>Contact</p>
    </div>
  </aside>
  <div class="main">
    <article>
      <h1>About us</h1>
      <p>
        Whether decks, trucks or skate shoes, since 2004, skatedeluxe has been
        doing it like no other European skate shop. With 15 years of experience
        and skater-owned from the very start, we are your # 1 destination when
        it comes to skateboarding. <br />
        <br />
      </p>
    </article>
    <div class="map-responsive">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <aside class="aside aside-2"></aside>
  <footer class="footer">
    <div>
      &copy; lemospace | 2020
    </div>
  </footer>
</div>
